h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:blue

}

body{
    background-color: rgb(188, 212, 243);

}

#textosec{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(147, 192, 235);

}

.estiloespecial{
    color: blue;
    font-size: 25px;
}

.parrafos{
    color: rgb(45, 3, 158);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: rgb(145, 145, 236);
    margin: 20px;
    padding: 20px;
    border: 3px solid;
    border-radius: 20px;
}
footer{
    background-color: aquamarine;
}
#paisaje{
    margin: 10px;
    border-radius: 20px;
    border: 2px solid;
    width: 1000px;
    height: auto;

}
.titulo{
    color: rgb(0, 0, 255);
    font-size: 30px;

}